@page
@model OpenAI_ImgGenerator.Views.Info.AboutModel


<div class="container-about">
    <h1>Hi, I'm <a style="color:darkgray">Aleksandr</a></h1>
    <h1>
        <span> A junior programmer with experience in C# and the
                .NET framework. I am highly motivated to expand my skills and knowledge in
                programming and am always eager to learn new technologies.
                My passion for programming drives me to continuously improve my
                skills and stay up-to-date with the latest technologies.
        </span>
    </h1>
</div>