@*@model OpenAI_ImgGenerator.Models.Login;


@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="~/css/LoginStyle.css" />
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="~/icons/logo_Final.png">
		</div>
		<h1>Log In</h1>
		<form asp-controller="Access" asp-action="Login" method="post">
			<input type="email" id="email" placeholder="Email" asp-for="Email" required>
			<input type="password" id="password" placeholder="Password" asp-for="PassWord" required>
			<label for="remember">
				<input type="checkbox" id="remember" name="remember"> Remember me
			</label>
			<input type="submit" value="Log In">

			@if (ViewData["ValidateMessage"] != null)
			{
				<br />
				<br />
				<label>@ViewData["ValidateMessage"]</label>
			}
		</form>
	</div>
</body>
</html>*@