@{
    ViewData["Title"] = ".NET";
}

<link rel="stylesheet" href="~/css/search_panel.css" />

@*<div class="container">
    <video class="video-bg" autoplay muted loop>
        <source src="~/icons/file.mp4" type="video/mp4" />
    </video>
    <img class="img-bg-1 start-anim-left" src="~/icons/b1.jpg" />
    <img class="img-bg-2" src="~/icons/b3.png" />
    <img class="img-bg-3 start-anim-right" src="~/icons/Dopple-Header-01_edited.webp" />
    <img class="img-bg-4 start-anim-right" src="~/icons/c3.jpg" />
    <img class="img-bg-5 deploy-object" src="~/icons/car1.jpg" />
    <img class="img-bg-6" src="~/icons/donut.gif" />
</div>
*@

<div>
    <textarea class="form-control" id="txt" style="width:500px;" placeholder="Enter your prompr here"></textarea><br />
    <input type="number" value="1" placeholder="Enter quantity" id="quantity" />
    <select id="sel">
        <option selected>256x256</option>
        <option>512x512</option>
        <option>1024x1024</option>
    </select>
    <button id="btn">
        Generate
    </button>
    <div id="display">
    </div>
</div>



