@{
    ViewData["Title"] = ".NET";
}



<div class="container">
    <video class="video-bg" autoplay muted loop>
        <source src="~/icons/file.mp4" type="video/mp4" />
    </video>
    <img class="img-bg-1 start-anim-left" src="~/icons/b1.jpg" />
    <img class="img-bg-2" src="~/icons/b3.png" />
    <img class="img-bg-3 start-anim-right" src="~/icons/Dopple-Header-01_edited.webp" />
    <img class="img-bg-4 start-anim-right" src="~/icons/c3.jpg" />
    <img class="img-bg-5 deploy-object" src="~/icons/car1.jpg" />
    <img class="img-bg-6" src="~/icons/donut.gif" />
</div>


<div class="panel rounded-panel dark-panel">
    <form>
        <div class="search-container">
            <input id="txt" type="text" placeholder="Search">
        </div>
        <div class="filters-container">
            <select id="sel">
                <option selected>256x256</option>
                <option>512x512</option>
                <option>1024x1024</option>
            </select>
            <input type="number" placeholder="quantity" id="quantity">
            <input type="button" id="btn" value="Generate">
        </div>
    </form>
</div>

<div id="display" class="col-md-12 row">
</div>



