@model OpenAI_ImgGenerator.Models.DTO.RegistrationModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
	<link rel="stylesheet" href="~/css/RegistrationStyle.css" />
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="~/icons/logo_Final.png">
		</div>
		<h1>Register</h1>
		<form asp-action="Registration" method="post">
			<input type="text" placeholder="Name" asp-for="Name" required>
			<input type="text" placeholder="Username" asp-for="Username" required>
			<input type="email" placeholder="Email" asp-for="Email" required>
			<input type="password" placeholder="Password" asp-for="Password" required>
			<input type="password" placeholder="Confirm Password" asp-for="PasswordConfirm" required>

			<input type="submit" value="SignUp">
			<a class="Login" href="/UserAuthentication/Login">Login</a>

			@if(TempData["msg"] != null)
			{
				<div class="msg">
					@TempData["msg"]
				</div>	
			}


		</form>
	</div>
</body>
</html>